/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/ClientSimStorage/
/Build/
/Builds/
/Assets/BirdGenerated/
/Assets/BirdGenerated.meta
/Assets/SerializedUdonPrograms/
/Assets/SerializedUdonPrograms.meta
/Assets/UdonSharp/
/Assets/UdonSharp.meta
/*.csproj
/*.sln
/*.log
/*-result.txt

/udon-avatar-calibration.csv
